
div.elem_foot_box{width:100%;height:500px;margin:0px;padding:0px;background:linear-gradient(to top right,#222222,#222222,#2A2A2A,#333333,#2A2A2A,#2A2A2A,#2A2A2A,#333333,#333333,#333333,#2A2A2A,#2A2A2A,#2A2A2A,#333333,#333333,#333333,#333333,#222222);font-family:arial;font-size:11pt;color:#FFFFFF;border-top:solid 1px #000000;}
div.botcolumn{width:200px;margin:0px;padding:20px;float:left;font-family:arial;font-size:11pt;color:#BBBBBB;}
a.footlink{text-decoration:underline;color:#BBBBBB;}
a.footlink:hover{text-decoration:underline;color:#FFFFAA;}
a.footlink:active{text-decoration:underline;color:#EEEEEE;}
span.copyinfo{color:#777777;}
