
div.topnavbar{width:100%;margin-top:0px;margin-bottom:0px;padding:0px;background-color:#3377AA;font-family:arial;font-size:14pt;color:#DDEEFF;border-bottom:solid 2px #777777;}
div.topnavbar_inner{padding:20px;}
a.topnav{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#DDEEFF;background-color:#3377AA;border-radius:4px;}
a.topnav:hover{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#DDEEFF;background-color:#77CCEE;border-radius:4px;}
a.topnav:active{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#DDEEFF;background-color:#88DDFF;border-radius:4px;}
a.topnav2{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#DDEEFF;background-color:#66CCEE;border-radius:4px;}
a.topnav2:hover{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#DDEEFF;background-color:#88DDFF;border-radius:4px;}
a.topnav2:active{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#DDEEFF;background-color:#66CCEE;border-radius:4px;}
