
div.topnavbar{width:100%;margin:0px;padding:0px;background-color:#FFAA33;font-family:arial;font-size:14pt;color:#FFFFFF;border-bottom:solid 1px #AA7733;}
div.topnavbar_inner{padding:20px;}
a.topnav{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#FFFFFF;background-color:#FFAA33;border-radius:4px;}
a.topnav:hover{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#FFAA33;background-color:#FFFFFF;border-radius:4px;}
a.topnav:active{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#FFFFFF;background-color:#FFAA33;border-radius:4px;}
a.topnav2{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#FFFFFF;background-color:#3377AA;border-radius:4px;}
a.topnav2:hover{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#FFAA33;background-color:#FFFFFF;border-radius:4px;}
a.topnav2:active{padding:5px;text-decoration:none;font-family:arial;font-size:12pt;color:#FFFFFF;background-color:#3377AA;border-radius:4px;}
