
div.toptop{width:100%;margin:0px;padding:0px;height:32px;background-color:#FFFFFF;font-family:arial;font-size:11pt;color:#3377AA;}
div.toptopi{margin:0px;padding:5px;font-family:arial;font-size:11pt;color:#3377AA;}

a.fadmin_topbar_link{padding:3px;text-decoration:none;font-family:arial;font-size:10pt;color:#3377AA;background-color:#FFDDBB;border-radius:4px;}
a.fadmin_topbar_link:hover{padding:3px;text-decoration:none;font-family:arial;font-size:10pt;color:#000000;background-color:#DDDDDD;border-radius:4px;}
a.fadmin_topbar_link:active{padding:3px;text-decoration:none;font-family:arial;font-size:10pt;color:#3377AA;background-color:#FFDDBB;border-radius:4px;}
